In [1]:
#%pylab inline
import pandas as pd
import datetime
import matplotlib.pyplot as pl
from matplotlib.backends.backend_pdf import PdfPages
import datetime
import numpy as np
from pylab import *
from plot_student_assignment import plot_student_assignment

In [2]:
df=pd.read_pickle('all_data.pkl');
df.head()

,id,user_id,answer_id,answer_string,score,problem_id,set_id,part_id,timestamp,gap
0,427813,vsamant,325731,16,1,3,Week1,1,2015-09-25 00:01:49,6034650
1,427815,vsamant,325731,7+9,1,3,Week1,2,2015-09-25 00:01:49,6034650
2,427817,vsamant,325731,18-2,1,3,Week1,3,2015-09-25 00:01:49,6034650
3,427819,vsamant,325731,32/2,1,3,Week1,4,2015-09-25 00:01:49,6034650
4,427821,vsamant,325731,4^2,1,3,Week1,5,2015-09-25 00:01:49,6034650

In [3]:
# part_index maps [set_id][(problem_id,part_id)] to an integer index
# starting at zero for the first problem in each set
groups=df.groupby('set_id')
part_index={}
for set_id,grp_df in groups:
    parts=grp_df[['problem_id','part_id']]
    parts=parts.drop_duplicates()
    parts.sort(columns=['problem_id','part_id'],inplace=True)
    parts_array=np.array(parts)
    part_index[set_id]={tuple(parts_array[i,:]):i for i in range(np.shape(parts_array)[0])}

In [4]:
# add a column with the part_index value corresponding  to the problem part
df_parts=np.array(df[['set_id','problem_id','part_id']])
df['part_index']=[part_index[set_id][(problem_id,part_id)] for set_id,problem_id,part_id in df_parts]
df.head()

,id,user_id,answer_id,answer_string,score,problem_id,set_id,part_id,timestamp,gap,part_index
0,427813,vsamant,325731,16,1,3,Week1,1,2015-09-25 00:01:49,6034650,0
1,427815,vsamant,325731,7+9,1,3,Week1,2,2015-09-25 00:01:49,6034650,1
2,427817,vsamant,325731,18-2,1,3,Week1,3,2015-09-25 00:01:49,6034650,2
3,427819,vsamant,325731,32/2,1,3,Week1,4,2015-09-25 00:01:49,6034650,3
4,427821,vsamant,325731,4^2,1,3,Week1,5,2015-09-25 00:01:49,6034650,4

In [5]:
t=[datetime.datetime.strptime(tstmp,'%Y-%m-%d %H:%M:%S') for tstmp in list(df['timestamp'])]
df.timestamp=t
df.index=df.id
weekday_names=['mon','tue','wed','thu','fri','sat','sun']
df['weekday']=[weekday_names[i.weekday()] for i in t]

df=df[['user_id','timestamp','weekday','set_id','problem_id','part_id','part_index','answer_string','score']]

In [6]:
grpby=df.groupby(["set_id","user_id"])
i=0;
for (set_id,user_id), grp_df in grpby:
    if set_id != 'Week4'or user_id!='aadhakal':
        continue
    i+=1;
    print i,set_id,user_id,grp_df.shape[0]
    grp_df.sort(inplace=True);
    filename='timeplots/'+user_id+'_'+set_id+'.pdf'
    plot_student_assignment(grp_df,set_id,user_id,part_index,filename=filename)
    #break

1 Week4 aadhakal 48
<class 'pandas.tslib.Timestamp'>

TypeError: list indices must be integers, not str

In [ ]:
part_index.

In [ ]:
!ls

In [ ]:
!mkdir timeplots

In [ ]:
!ls timeplots/